.encabezado{
    height: 50%;
    overflow: hidden;
}
.navbar{
    background: darkgrey;
    padding-top: 0px !important;
}
.carousel {
    margin-top: 0px !important;
}
.titulo {
    padding-top: 5px;
}

.actualizar{
    padding-top: 30px !important;
    
}