{% extends 'base.html' %}

{% load static %}
{% block title %}
    {{ object.full_name }}
{% endblock title %}

{% block content %}

{% include 'includes/header.html' %}
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                {% if empleado.avatar %}
                    <img src="{{ empleado.avatar.url }}" class="card-img-top" alt="...">
                {% else %}

                    <img src="{% static 'img/ribeyro.jpg' %}">
                {% endif %}
                <div class="card-body">
                    <p class="card-text">{{ empleado.first_name }}</p>
                    <p class="card-text">{{ empleado.get_job_display }}</p>
                    <p class="card-text">{{ empleado.departamento.short_name }}</p>
                    <p><span class="label">Habilidades:</span></p>
                    <ul>
                        {% for h in empleado.habilidades.all %}
                            <li>{{ h.habilidad }}</li>
                        {% endfor %}
                    </ul>
                </div>
              </div>  
        </div>
    </div>
    

{% endblock content %}

