{% extends 'base.html' %}

{% block title%}
    Editar Empleado
{% endblock title %}

{% block content %}

    {% include 'includes/header.html' %}
    <div class="container-fluid row actualizar">
        <div class="col pt-20 mt-20">
            <h1>Actualizar  Datos del Empleado</h1>
        </div>

        <form class="col-12" method="POST">{% csrf_token %}
            <div class="row">
                <label class="form-label col">Nombres:
                    {{ form.first_name }}
                </label>
                
            </div>
            <div class="row">
                <label class="form-label col">Apellidos:
                    {{ form.last_name }}
                </label>
                
            </div>
            <div class="row">
                <label class="form-label col">Trabajo:
                    {{ form.job }}
                </label>
                
            </div>
            <div class="row">
                <label class="form-label col">Area:
                    {{ form.departamento }}
                </label>
                
            </div>
            <div class="row">
                <label class="form-label col">Habilidades:
                    {{ form.habilidades }}
                </label>
                
            </div>
            
            <button class="col-12 d-flex justify-content-center btn btn-primary" type="submit">Actualizar</button>
        </form>

    </div>
    

        

{% endblock content%}
    
