{% extends 'base.html' %}

{% block title %}
    Registrar Departamento
{% endblock title%}

{% block content %}

{% include 'includes/header.html' %}

<div class="container">
    <div class="row">
        <h1>Registrar Nuevo Departamento</h1>

        <form method="POST">{% csrf_token %}
            <h3>Datos empleado</h3>
            <p>
                {{form.nombre}}
            </p>
            <p>
                {{form.apellidos}}
            </p>
            <h3>Datos del departamento</h3>
            <p>
                {{form.departamento}}
            </p>
            <p>
                {{form.shortname}}
            </p>
            
            <button type="submit">Registrar</button>
        </form>
    </div>
</div>
{% endblock content%}
